# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.spec
dist/
build/

# Unit test / coverage reports
.coverage
.tox/
.nox/
.cache/
coverage.xml
htmlcov/

# Python package files
*.egg
*.egg-info/
.eggs/
*.whl
pip-wheel-metadata/
*.manifest

# Distribution
sdist/
*.tar.gz
*.zip

# Logs and local config
*.log
*.pot
*.mo
*.db
*.sqlite3

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific
.DS_Store
Thumbs.db

# dotenv
.env
.env.*

# Pyre, Pytype, mypy type checker
.pyre/
.pytype/
.mypy_cache/

# VSCode Python extension
.python-version
